/dataset/labelsTr/._.DS_Store
/dataset/._.DS_Store
/dataset/._dataset.json
/dataset/imagesTs/._hippocampus_002.nii.gz
/dataset/labelsTr/._hippocampus_003.nii.gz
/dataset/labelsTr/._hippocampus_243.nii.gz
/dataset/._imagesTr
/dataset/._imagesTs
/dataset/._labelsTr
/dataset/dataset.json
/dataset/imagesTr/hippocampus_001.nii.gz
/dataset/labelsTr/hippocampus_001.nii.gz
/dataset/imagesTs/hippocampus_002.nii.gz
/dataset/imagesTr/hippocampus_003.nii.gz
/dataset/labelsTr/hippocampus_003.nii.gz
/dataset/imagesTr/hippocampus_004.nii.gz
/dataset/labelsTr/hippocampus_004.nii.gz
/dataset/imagesTs/hippocampus_005.nii.gz
/dataset/imagesTr/hippocampus_006.nii.gz
/dataset/labelsTr/hippocampus_006.nii.gz
/dataset/imagesTr/hippocampus_007.nii.gz
/dataset/labelsTr/hippocampus_007.nii.gz
/dataset/imagesTr/hippocampus_008.nii.gz
/dataset/labelsTr/hippocampus_008.nii.gz
/dataset/imagesTs/hippocampus_009.nii.gz
/dataset/imagesTs/hippocampus_010.nii.gz
/dataset/imagesTr/hippocampus_011.nii.gz
/dataset/labelsTr/hippocampus_011.nii.gz
/dataset/imagesTs/hippocampus_012.nii.gz
/dataset/imagesTs/hippocampus_013.nii.gz
/dataset/imagesTr/hippocampus_014.nii.gz
/dataset/labelsTr/hippocampus_014.nii.gz
/dataset/imagesTr/hippocampus_015.nii.gz
/dataset/labelsTr/hippocampus_015.nii.gz
/dataset/imagesTs/hippocampus_016.nii.gz
/dataset/imagesTr/hippocampus_017.nii.gz
/dataset/labelsTr/hippocampus_017.nii.gz
/dataset/imagesTs/hippocampus_018.nii.gz
/dataset/imagesTr/hippocampus_019.nii.gz
/dataset/labelsTr/hippocampus_019.nii.gz
/dataset/imagesTr/hippocampus_020.nii.gz
/dataset/labelsTr/hippocampus_020.nii.gz
/dataset/imagesTs/hippocampus_021.nii.gz
/dataset/imagesTs/hippocampus_022.nii.gz
/dataset/imagesTr/hippocampus_023.nii.gz
/dataset/labelsTr/hippocampus_023.nii.gz
/dataset/imagesTr/hippocampus_024.nii.gz
/dataset/labelsTr/hippocampus_024.nii.gz
/dataset/imagesTr/hippocampus_025.nii.gz
/dataset/labelsTr/hippocampus_025.nii.gz
/dataset/imagesTr/hippocampus_026.nii.gz
/dataset/labelsTr/hippocampus_026.nii.gz
/dataset/imagesTs/hippocampus_027.nii.gz
/dataset/imagesTs/hippocampus_028.nii.gz
/dataset/imagesTs/hippocampus_029.nii.gz
/dataset/imagesTs/hippocampus_030.nii.gz
/dataset/imagesTr/hippocampus_033.nii.gz
/dataset/labelsTr/hippocampus_033.nii.gz
/dataset/imagesTr/hippocampus_034.nii.gz
/dataset/labelsTr/hippocampus_034.nii.gz
/dataset/imagesTr/hippocampus_035.nii.gz
/dataset/labelsTr/hippocampus_035.nii.gz
/dataset/imagesTr/hippocampus_036.nii.gz
/dataset/labelsTr/hippocampus_036.nii.gz
/dataset/imagesTr/hippocampus_037.nii.gz
/dataset/labelsTr/hippocampus_037.nii.gz
/dataset/imagesTr/hippocampus_038.nii.gz
/dataset/labelsTr/hippocampus_038.nii.gz
/dataset/imagesTr/hippocampus_039.nii.gz
/dataset/labelsTr/hippocampus_039.nii.gz
/dataset/imagesTr/hippocampus_040.nii.gz
/dataset/labelsTr/hippocampus_040.nii.gz
/dataset/imagesTr/hippocampus_041.nii.gz
/dataset/labelsTr/hippocampus_041.nii.gz
/dataset/imagesTr/hippocampus_042.nii.gz
/dataset/labelsTr/hippocampus_042.nii.gz
/dataset/imagesTs/hippocampus_043.nii.gz
/dataset/imagesTr/hippocampus_044.nii.gz
/dataset/labelsTr/hippocampus_044.nii.gz
/dataset/imagesTr/hippocampus_045.nii.gz
/dataset/labelsTr/hippocampus_045.nii.gz
/dataset/imagesTr/hippocampus_046.nii.gz
/dataset/labelsTr/hippocampus_046.nii.gz
/dataset/imagesTs/hippocampus_047.nii.gz
/dataset/imagesTr/hippocampus_048.nii.gz
/dataset/labelsTr/hippocampus_048.nii.gz
/dataset/imagesTr/hippocampus_049.nii.gz
/dataset/labelsTr/hippocampus_049.nii.gz
/dataset/imagesTr/hippocampus_050.nii.gz
/dataset/labelsTr/hippocampus_050.nii.gz
/dataset/imagesTr/hippocampus_051.nii.gz
/dataset/labelsTr/hippocampus_051.nii.gz
/dataset/imagesTr/hippocampus_052.nii.gz
/dataset/labelsTr/hippocampus_052.nii.gz
/dataset/imagesTr/hippocampus_053.nii.gz
/dataset/labelsTr/hippocampus_053.nii.gz
/dataset/imagesTs/hippocampus_054.nii.gz
/dataset/imagesTs/hippocampus_055.nii.gz
/dataset/imagesTr/hippocampus_056.nii.gz
/dataset/labelsTr/hippocampus_056.nii.gz
/dataset/imagesTr/hippocampus_057.nii.gz
/dataset/labelsTr/hippocampus_057.nii.gz
/dataset/imagesTr/hippocampus_058.nii.gz
/dataset/labelsTr/hippocampus_058.nii.gz
/dataset/imagesTs/hippocampus_059.nii.gz
/dataset/imagesTr/hippocampus_060.nii.gz
/dataset/labelsTr/hippocampus_060.nii.gz
/dataset/imagesTs/hippocampus_061.nii.gz
/dataset/imagesTs/hippocampus_062.nii.gz
/dataset/imagesTs/hippocampus_063.nii.gz
/dataset/imagesTr/hippocampus_064.nii.gz
/dataset/labelsTr/hippocampus_064.nii.gz
/dataset/imagesTr/hippocampus_065.nii.gz
/dataset/labelsTr/hippocampus_065.nii.gz
/dataset/imagesTs/hippocampus_066.nii.gz
/dataset/imagesTr/hippocampus_067.nii.gz
/dataset/labelsTr/hippocampus_067.nii.gz
/dataset/imagesTr/hippocampus_068.nii.gz
/dataset/labelsTr/hippocampus_068.nii.gz
/dataset/imagesTs/hippocampus_069.nii.gz
/dataset/imagesTr/hippocampus_070.nii.gz
/dataset/labelsTr/hippocampus_070.nii.gz
/dataset/imagesTs/hippocampus_071.nii.gz
/dataset/imagesTs/hippocampus_072.nii.gz
/dataset/imagesTs/hippocampus_073.nii.gz
/dataset/imagesTr/hippocampus_074.nii.gz
/dataset/labelsTr/hippocampus_074.nii.gz
/dataset/imagesTr/hippocampus_075.nii.gz
/dataset/labelsTr/hippocampus_075.nii.gz
/dataset/imagesTs/hippocampus_076.nii.gz
/dataset/imagesTr/hippocampus_077.nii.gz
/dataset/labelsTr/hippocampus_077.nii.gz
/dataset/imagesTs/hippocampus_078.nii.gz
/dataset/imagesTs/hippocampus_079.nii.gz
/dataset/imagesTs/hippocampus_080.nii.gz
/dataset/imagesTs/hippocampus_081.nii.gz
/dataset/imagesTs/hippocampus_082.nii.gz
/dataset/imagesTr/hippocampus_083.nii.gz
/dataset/labelsTr/hippocampus_083.nii.gz
/dataset/imagesTr/hippocampus_084.nii.gz
/dataset/labelsTr/hippocampus_084.nii.gz
/dataset/imagesTr/hippocampus_087.nii.gz
/dataset/labelsTr/hippocampus_087.nii.gz
/dataset/imagesTr/hippocampus_088.nii.gz
/dataset/labelsTr/hippocampus_088.nii.gz
/dataset/imagesTr/hippocampus_089.nii.gz
/dataset/labelsTr/hippocampus_089.nii.gz
/dataset/imagesTr/hippocampus_090.nii.gz
/dataset/labelsTr/hippocampus_090.nii.gz
/dataset/imagesTr/hippocampus_091.nii.gz
/dataset/labelsTr/hippocampus_091.nii.gz
/dataset/imagesTr/hippocampus_092.nii.gz
/dataset/labelsTr/hippocampus_092.nii.gz
/dataset/imagesTr/hippocampus_093.nii.gz
/dataset/labelsTr/hippocampus_093.nii.gz
/dataset/imagesTr/hippocampus_094.nii.gz
/dataset/labelsTr/hippocampus_094.nii.gz
/dataset/imagesTr/hippocampus_095.nii.gz
/dataset/labelsTr/hippocampus_095.nii.gz
/dataset/imagesTr/hippocampus_096.nii.gz
/dataset/labelsTr/hippocampus_096.nii.gz
/dataset/imagesTr/hippocampus_097.nii.gz
/dataset/labelsTr/hippocampus_097.nii.gz
/dataset/imagesTr/hippocampus_098.nii.gz
/dataset/labelsTr/hippocampus_098.nii.gz
/dataset/imagesTr/hippocampus_099.nii.gz
/dataset/labelsTr/hippocampus_099.nii.gz
/dataset/imagesTs/hippocampus_100.nii.gz
/dataset/imagesTr/hippocampus_101.nii.gz
/dataset/labelsTr/hippocampus_101.nii.gz
/dataset/imagesTr/hippocampus_102.nii.gz
/dataset/labelsTr/hippocampus_102.nii.gz
/dataset/imagesTs/hippocampus_103.nii.gz
/dataset/imagesTr/hippocampus_104.nii.gz
/dataset/labelsTr/hippocampus_104.nii.gz
/dataset/imagesTr/hippocampus_105.nii.gz
/dataset/labelsTr/hippocampus_105.nii.gz
/dataset/imagesTr/hippocampus_106.nii.gz
/dataset/labelsTr/hippocampus_106.nii.gz
/dataset/imagesTr/hippocampus_107.nii.gz
/dataset/labelsTr/hippocampus_107.nii.gz
/dataset/imagesTr/hippocampus_108.nii.gz
/dataset/labelsTr/hippocampus_108.nii.gz
/dataset/imagesTr/hippocampus_109.nii.gz
/dataset/labelsTr/hippocampus_109.nii.gz
/dataset/imagesTs/hippocampus_110.nii.gz
/dataset/imagesTs/hippocampus_111.nii.gz
/dataset/imagesTs/hippocampus_112.nii.gz
/dataset/imagesTs/hippocampus_113.nii.gz
/dataset/imagesTr/hippocampus_114.nii.gz
/dataset/labelsTr/hippocampus_114.nii.gz
/dataset/imagesTs/hippocampus_115.nii.gz
/dataset/imagesTs/hippocampus_116.nii.gz
/dataset/imagesTs/hippocampus_117.nii.gz
/dataset/imagesTs/hippocampus_118.nii.gz
/dataset/imagesTs/hippocampus_119.nii.gz
/dataset/imagesTs/hippocampus_120.nii.gz
/dataset/imagesTs/hippocampus_121.nii.gz
/dataset/imagesTs/hippocampus_122.nii.gz
/dataset/imagesTr/hippocampus_123.nii.gz
/dataset/labelsTr/hippocampus_123.nii.gz
/dataset/imagesTr/hippocampus_124.nii.gz
/dataset/labelsTr/hippocampus_124.nii.gz
/dataset/imagesTr/hippocampus_125.nii.gz
/dataset/labelsTr/hippocampus_125.nii.gz
/dataset/imagesTr/hippocampus_126.nii.gz
/dataset/labelsTr/hippocampus_126.nii.gz
/dataset/imagesTr/hippocampus_127.nii.gz
/dataset/labelsTr/hippocampus_127.nii.gz
/dataset/imagesTs/hippocampus_128.nii.gz
/dataset/imagesTs/hippocampus_129.nii.gz
/dataset/imagesTr/hippocampus_130.nii.gz
/dataset/labelsTr/hippocampus_130.nii.gz
/dataset/imagesTs/hippocampus_131.nii.gz
/dataset/imagesTr/hippocampus_132.nii.gz
/dataset/labelsTr/hippocampus_132.nii.gz
/dataset/imagesTr/hippocampus_133.nii.gz
/dataset/labelsTr/hippocampus_133.nii.gz
/dataset/imagesTs/hippocampus_134.nii.gz
/dataset/imagesTr/hippocampus_135.nii.gz
/dataset/labelsTr/hippocampus_135.nii.gz
/dataset/imagesTr/hippocampus_136.nii.gz
/dataset/labelsTr/hippocampus_136.nii.gz
/dataset/imagesTs/hippocampus_137.nii.gz
/dataset/imagesTr/hippocampus_138.nii.gz
/dataset/labelsTr/hippocampus_138.nii.gz
/dataset/imagesTs/hippocampus_139.nii.gz
/dataset/imagesTs/hippocampus_140.nii.gz
/dataset/imagesTr/hippocampus_141.nii.gz
/dataset/labelsTr/hippocampus_141.nii.gz
/dataset/imagesTr/hippocampus_142.nii.gz
/dataset/labelsTr/hippocampus_142.nii.gz
/dataset/imagesTr/hippocampus_143.nii.gz
/dataset/labelsTr/hippocampus_143.nii.gz
/dataset/imagesTr/hippocampus_144.nii.gz
/dataset/labelsTr/hippocampus_144.nii.gz
/dataset/imagesTr/hippocampus_145.nii.gz
/dataset/labelsTr/hippocampus_145.nii.gz
/dataset/imagesTr/hippocampus_146.nii.gz
/dataset/labelsTr/hippocampus_146.nii.gz
/dataset/imagesTs/hippocampus_147.nii.gz
/dataset/imagesTr/hippocampus_148.nii.gz
/dataset/labelsTr/hippocampus_148.nii.gz
/dataset/imagesTr/hippocampus_149.nii.gz
/dataset/labelsTr/hippocampus_149.nii.gz
/dataset/imagesTr/hippocampus_150.nii.gz
/dataset/labelsTr/hippocampus_150.nii.gz
/dataset/imagesTs/hippocampus_151.nii.gz
/dataset/imagesTr/hippocampus_152.nii.gz
/dataset/labelsTr/hippocampus_152.nii.gz
/dataset/imagesTs/hippocampus_153.nii.gz
/dataset/imagesTr/hippocampus_154.nii.gz
/dataset/labelsTr/hippocampus_154.nii.gz
/dataset/imagesTr/hippocampus_155.nii.gz
/dataset/labelsTr/hippocampus_155.nii.gz
/dataset/imagesTr/hippocampus_156.nii.gz
/dataset/labelsTr/hippocampus_156.nii.gz
/dataset/imagesTr/hippocampus_157.nii.gz
/dataset/labelsTr/hippocampus_157.nii.gz
/dataset/imagesTr/hippocampus_158.nii.gz
/dataset/labelsTr/hippocampus_158.nii.gz
/dataset/imagesTs/hippocampus_159.nii.gz
/dataset/imagesTr/hippocampus_160.nii.gz
/dataset/labelsTr/hippocampus_160.nii.gz
/dataset/imagesTr/hippocampus_161.nii.gz
/dataset/labelsTr/hippocampus_161.nii.gz
/dataset/imagesTr/hippocampus_162.nii.gz
/dataset/labelsTr/hippocampus_162.nii.gz
/dataset/imagesTr/hippocampus_163.nii.gz
/dataset/labelsTr/hippocampus_163.nii.gz
/dataset/imagesTr/hippocampus_164.nii.gz
/dataset/labelsTr/hippocampus_164.nii.gz
/dataset/imagesTr/hippocampus_165.nii.gz
/dataset/labelsTr/hippocampus_165.nii.gz
/dataset/imagesTr/hippocampus_166.nii.gz
/dataset/labelsTr/hippocampus_166.nii.gz
/dataset/imagesTs/hippocampus_167.nii.gz
/dataset/imagesTs/hippocampus_168.nii.gz
/dataset/imagesTr/hippocampus_169.nii.gz
/dataset/labelsTr/hippocampus_169.nii.gz
/dataset/imagesTr/hippocampus_170.nii.gz
/dataset/labelsTr/hippocampus_170.nii.gz
/dataset/imagesTr/hippocampus_171.nii.gz
/dataset/labelsTr/hippocampus_171.nii.gz
/dataset/imagesTr/hippocampus_172.nii.gz
/dataset/labelsTr/hippocampus_172.nii.gz
/dataset/imagesTr/hippocampus_173.nii.gz
/dataset/labelsTr/hippocampus_173.nii.gz
/dataset/imagesTr/hippocampus_174.nii.gz
/dataset/labelsTr/hippocampus_174.nii.gz
/dataset/imagesTr/hippocampus_175.nii.gz
/dataset/labelsTr/hippocampus_175.nii.gz
/dataset/imagesTr/hippocampus_176.nii.gz
/dataset/labelsTr/hippocampus_176.nii.gz
/dataset/imagesTr/hippocampus_177.nii.gz
/dataset/labelsTr/hippocampus_177.nii.gz
/dataset/imagesTr/hippocampus_178.nii.gz
/dataset/labelsTr/hippocampus_178.nii.gz
/dataset/imagesTs/hippocampus_179.nii.gz
/dataset/imagesTr/hippocampus_180.nii.gz
/dataset/labelsTr/hippocampus_180.nii.gz
/dataset/imagesTr/hippocampus_181.nii.gz
/dataset/labelsTr/hippocampus_181.nii.gz
/dataset/imagesTs/hippocampus_182.nii.gz
/dataset/imagesTs/hippocampus_183.nii.gz
/dataset/imagesTr/hippocampus_184.nii.gz
/dataset/labelsTr/hippocampus_184.nii.gz
/dataset/imagesTr/hippocampus_185.nii.gz
/dataset/labelsTr/hippocampus_185.nii.gz
/dataset/imagesTs/hippocampus_186.nii.gz
/dataset/imagesTs/hippocampus_187.nii.gz
/dataset/imagesTr/hippocampus_188.nii.gz
/dataset/labelsTr/hippocampus_188.nii.gz
/dataset/imagesTr/hippocampus_189.nii.gz
/dataset/labelsTr/hippocampus_189.nii.gz
/dataset/imagesTr/hippocampus_190.nii.gz
/dataset/labelsTr/hippocampus_190.nii.gz
/dataset/imagesTs/hippocampus_191.nii.gz
/dataset/imagesTs/hippocampus_192.nii.gz
/dataset/imagesTr/hippocampus_193.nii.gz
/dataset/labelsTr/hippocampus_193.nii.gz
/dataset/imagesTr/hippocampus_194.nii.gz
/dataset/labelsTr/hippocampus_194.nii.gz
/dataset/imagesTr/hippocampus_195.nii.gz
/dataset/labelsTr/hippocampus_195.nii.gz
/dataset/imagesTs/hippocampus_196.nii.gz
/dataset/imagesTr/hippocampus_197.nii.gz
/dataset/labelsTr/hippocampus_197.nii.gz
/dataset/imagesTs/hippocampus_198.nii.gz
/dataset/imagesTr/hippocampus_199.nii.gz
/dataset/labelsTr/hippocampus_199.nii.gz
/dataset/imagesTs/hippocampus_200.nii.gz
/dataset/imagesTs/hippocampus_201.nii.gz
/dataset/imagesTs/hippocampus_202.nii.gz
/dataset/imagesTr/hippocampus_203.nii.gz
/dataset/labelsTr/hippocampus_203.nii.gz
/dataset/imagesTr/hippocampus_204.nii.gz
/dataset/labelsTr/hippocampus_204.nii.gz
/dataset/imagesTr/hippocampus_205.nii.gz
/dataset/labelsTr/hippocampus_205.nii.gz
/dataset/imagesTs/hippocampus_206.nii.gz
/dataset/imagesTr/hippocampus_207.nii.gz
/dataset/labelsTr/hippocampus_207.nii.gz
/dataset/imagesTs/hippocampus_208.nii.gz
/dataset/imagesTs/hippocampus_209.nii.gz
/dataset/imagesTr/hippocampus_210.nii.gz
/dataset/labelsTr/hippocampus_210.nii.gz
/dataset/imagesTs/hippocampus_211.nii.gz
/dataset/imagesTr/hippocampus_212.nii.gz
/dataset/labelsTr/hippocampus_212.nii.gz
/dataset/imagesTs/hippocampus_213.nii.gz
/dataset/imagesTs/hippocampus_214.nii.gz
/dataset/imagesTr/hippocampus_215.nii.gz
/dataset/labelsTr/hippocampus_215.nii.gz
/dataset/imagesTr/hippocampus_216.nii.gz
/dataset/labelsTr/hippocampus_216.nii.gz
/dataset/imagesTr/hippocampus_217.nii.gz
/dataset/labelsTr/hippocampus_217.nii.gz
/dataset/imagesTs/hippocampus_218.nii.gz
/dataset/imagesTr/hippocampus_219.nii.gz
/dataset/labelsTr/hippocampus_219.nii.gz
/dataset/imagesTr/hippocampus_220.nii.gz
/dataset/labelsTr/hippocampus_220.nii.gz
/dataset/imagesTr/hippocampus_221.nii.gz
/dataset/labelsTr/hippocampus_221.nii.gz
/dataset/imagesTr/hippocampus_222.nii.gz
/dataset/labelsTr/hippocampus_222.nii.gz
/dataset/imagesTr/hippocampus_223.nii.gz
/dataset/labelsTr/hippocampus_223.nii.gz
/dataset/imagesTr/hippocampus_224.nii.gz
/dataset/labelsTr/hippocampus_224.nii.gz
/dataset/imagesTr/hippocampus_225.nii.gz
/dataset/labelsTr/hippocampus_225.nii.gz
/dataset/imagesTr/hippocampus_226.nii.gz
/dataset/labelsTr/hippocampus_226.nii.gz
/dataset/imagesTr/hippocampus_227.nii.gz
/dataset/labelsTr/hippocampus_227.nii.gz
/dataset/imagesTr/hippocampus_228.nii.gz
/dataset/labelsTr/hippocampus_228.nii.gz
/dataset/imagesTr/hippocampus_229.nii.gz
/dataset/labelsTr/hippocampus_229.nii.gz
/dataset/imagesTr/hippocampus_230.nii.gz
/dataset/labelsTr/hippocampus_230.nii.gz
/dataset/imagesTr/hippocampus_231.nii.gz
/dataset/labelsTr/hippocampus_231.nii.gz
/dataset/imagesTr/hippocampus_232.nii.gz
/dataset/labelsTr/hippocampus_232.nii.gz
/dataset/imagesTr/hippocampus_233.nii.gz
/dataset/labelsTr/hippocampus_233.nii.gz
/dataset/imagesTr/hippocampus_234.nii.gz
/dataset/labelsTr/hippocampus_234.nii.gz
/dataset/imagesTr/hippocampus_235.nii.gz
/dataset/labelsTr/hippocampus_235.nii.gz
/dataset/imagesTr/hippocampus_236.nii.gz
/dataset/labelsTr/hippocampus_236.nii.gz
/dataset/imagesTs/hippocampus_237.nii.gz
/dataset/imagesTr/hippocampus_238.nii.gz
/dataset/labelsTr/hippocampus_238.nii.gz
/dataset/imagesTs/hippocampus_239.nii.gz
/dataset/imagesTs/hippocampus_240.nii.gz
/dataset/imagesTs/hippocampus_241.nii.gz
/dataset/imagesTr/hippocampus_242.nii.gz
/dataset/labelsTr/hippocampus_242.nii.gz
/dataset/imagesTr/hippocampus_243.nii.gz
/dataset/labelsTr/hippocampus_243.nii.gz
/dataset/imagesTr/hippocampus_244.nii.gz
/dataset/labelsTr/hippocampus_244.nii.gz
/dataset/imagesTr/hippocampus_245.nii.gz
/dataset/labelsTr/hippocampus_245.nii.gz
/dataset/imagesTs/hippocampus_246.nii.gz
/dataset/imagesTs/hippocampus_247.nii.gz
/dataset/imagesTr/hippocampus_248.nii.gz
/dataset/labelsTr/hippocampus_248.nii.gz
/dataset/imagesTr/hippocampus_249.nii.gz
/dataset/labelsTr/hippocampus_249.nii.gz
/dataset/imagesTr/hippocampus_250.nii.gz
/dataset/labelsTr/hippocampus_250.nii.gz
/dataset/imagesTr/hippocampus_251.nii.gz
/dataset/labelsTr/hippocampus_251.nii.gz
/dataset/imagesTr/hippocampus_252.nii.gz
/dataset/labelsTr/hippocampus_252.nii.gz
/dataset/imagesTr/hippocampus_253.nii.gz
/dataset/labelsTr/hippocampus_253.nii.gz
/dataset/imagesTs/hippocampus_254.nii.gz
/dataset/imagesTs/hippocampus_255.nii.gz
/dataset/imagesTs/hippocampus_256.nii.gz
/dataset/imagesTr/hippocampus_257.nii.gz
/dataset/labelsTr/hippocampus_257.nii.gz
/dataset/imagesTs/hippocampus_258.nii.gz
/dataset/imagesTr/hippocampus_259.nii.gz
/dataset/labelsTr/hippocampus_259.nii.gz
/dataset/imagesTr/hippocampus_260.nii.gz
/dataset/labelsTr/hippocampus_260.nii.gz
/dataset/imagesTr/hippocampus_261.nii.gz
/dataset/labelsTr/hippocampus_261.nii.gz
/dataset/imagesTs/hippocampus_262.nii.gz
/dataset/imagesTr/hippocampus_263.nii.gz
/dataset/labelsTr/hippocampus_263.nii.gz
/dataset/imagesTr/hippocampus_264.nii.gz
/dataset/labelsTr/hippocampus_264.nii.gz
/dataset/imagesTr/hippocampus_265.nii.gz
/dataset/labelsTr/hippocampus_265.nii.gz
/dataset/imagesTs/hippocampus_266.nii.gz
/dataset/imagesTs/hippocampus_267.nii.gz
/dataset/imagesTr/hippocampus_268.nii.gz
/dataset/labelsTr/hippocampus_268.nii.gz
/dataset/imagesTr/hippocampus_269.nii.gz
/dataset/labelsTr/hippocampus_269.nii.gz
/dataset/imagesTs/hippocampus_270.nii.gz
/dataset/imagesTs/hippocampus_271.nii.gz
/dataset/imagesTs/hippocampus_272.nii.gz
/dataset/imagesTs/hippocampus_273.nii.gz
/dataset/imagesTr/hippocampus_274.nii.gz
/dataset/labelsTr/hippocampus_274.nii.gz
/dataset/imagesTs/hippocampus_275.nii.gz
/dataset/imagesTr/hippocampus_276.nii.gz
/dataset/labelsTr/hippocampus_276.nii.gz
/dataset/imagesTr/hippocampus_277.nii.gz
/dataset/labelsTr/hippocampus_277.nii.gz
/dataset/imagesTs/hippocampus_278.nii.gz
/dataset/imagesTr/hippocampus_279.nii.gz
/dataset/labelsTr/hippocampus_279.nii.gz
/dataset/imagesTr/hippocampus_280.nii.gz
/dataset/labelsTr/hippocampus_280.nii.gz
/dataset/imagesTs/hippocampus_281.nii.gz
/dataset/imagesTr/hippocampus_282.nii.gz
/dataset/labelsTr/hippocampus_282.nii.gz
/dataset/imagesTs/hippocampus_283.nii.gz
/dataset/imagesTs/hippocampus_284.nii.gz
/dataset/imagesTs/hippocampus_285.nii.gz
/dataset/imagesTr/hippocampus_286.nii.gz
/dataset/labelsTr/hippocampus_286.nii.gz
/dataset/imagesTr/hippocampus_287.nii.gz
/dataset/labelsTr/hippocampus_287.nii.gz
/dataset/imagesTr/hippocampus_288.nii.gz
/dataset/labelsTr/hippocampus_288.nii.gz
/dataset/imagesTr/hippocampus_289.nii.gz
/dataset/labelsTr/hippocampus_289.nii.gz
/dataset/imagesTr/hippocampus_290.nii.gz
/dataset/labelsTr/hippocampus_290.nii.gz
/dataset/imagesTs/hippocampus_291.nii.gz
/dataset/imagesTr/hippocampus_292.nii.gz
/dataset/labelsTr/hippocampus_292.nii.gz
/dataset/imagesTs/hippocampus_293.nii.gz
/dataset/imagesTr/hippocampus_294.nii.gz
/dataset/labelsTr/hippocampus_294.nii.gz
/dataset/imagesTr/hippocampus_295.nii.gz
/dataset/labelsTr/hippocampus_295.nii.gz
/dataset/imagesTr/hippocampus_296.nii.gz
/dataset/labelsTr/hippocampus_296.nii.gz
/dataset/imagesTr/hippocampus_297.nii.gz
/dataset/labelsTr/hippocampus_297.nii.gz
/dataset/imagesTr/hippocampus_298.nii.gz
/dataset/labelsTr/hippocampus_298.nii.gz
/dataset/imagesTr/hippocampus_299.nii.gz
/dataset/labelsTr/hippocampus_299.nii.gz
/dataset/imagesTr/hippocampus_300.nii.gz
/dataset/labelsTr/hippocampus_300.nii.gz
/dataset/imagesTr/hippocampus_301.nii.gz
/dataset/labelsTr/hippocampus_301.nii.gz
/dataset/imagesTr/hippocampus_302.nii.gz
/dataset/labelsTr/hippocampus_302.nii.gz
/dataset/imagesTr/hippocampus_303.nii.gz
/dataset/labelsTr/hippocampus_303.nii.gz
/dataset/imagesTr/hippocampus_304.nii.gz
/dataset/labelsTr/hippocampus_304.nii.gz
/dataset/imagesTr/hippocampus_305.nii.gz
/dataset/labelsTr/hippocampus_305.nii.gz
/dataset/imagesTs/hippocampus_306.nii.gz
/dataset/imagesTs/hippocampus_307.nii.gz
/dataset/imagesTr/hippocampus_308.nii.gz
/dataset/labelsTr/hippocampus_308.nii.gz
/dataset/imagesTr/hippocampus_309.nii.gz
/dataset/labelsTr/hippocampus_309.nii.gz
/dataset/imagesTr/hippocampus_310.nii.gz
/dataset/labelsTr/hippocampus_310.nii.gz
/dataset/imagesTr/hippocampus_311.nii.gz
/dataset/labelsTr/hippocampus_311.nii.gz
/dataset/imagesTs/hippocampus_312.nii.gz
/dataset/imagesTs/hippocampus_313.nii.gz
/dataset/imagesTr/hippocampus_314.nii.gz
/dataset/labelsTr/hippocampus_314.nii.gz
/dataset/imagesTs/hippocampus_315.nii.gz
/dataset/imagesTr/hippocampus_316.nii.gz
/dataset/labelsTr/hippocampus_316.nii.gz
/dataset/imagesTr/hippocampus_317.nii.gz
/dataset/labelsTr/hippocampus_317.nii.gz
/dataset/imagesTr/hippocampus_318.nii.gz
/dataset/labelsTr/hippocampus_318.nii.gz
/dataset/imagesTr/hippocampus_319.nii.gz
/dataset/labelsTr/hippocampus_319.nii.gz
/dataset/imagesTr/hippocampus_320.nii.gz
/dataset/labelsTr/hippocampus_320.nii.gz
/dataset/imagesTr/hippocampus_321.nii.gz
/dataset/labelsTr/hippocampus_321.nii.gz
/dataset/imagesTr/hippocampus_322.nii.gz
/dataset/labelsTr/hippocampus_322.nii.gz
/dataset/imagesTs/hippocampus_323.nii.gz
/dataset/imagesTs/hippocampus_324.nii.gz
/dataset/imagesTr/hippocampus_325.nii.gz
/dataset/labelsTr/hippocampus_325.nii.gz
/dataset/imagesTr/hippocampus_326.nii.gz
/dataset/labelsTr/hippocampus_326.nii.gz
/dataset/imagesTr/hippocampus_327.nii.gz
/dataset/labelsTr/hippocampus_327.nii.gz
/dataset/imagesTr/hippocampus_328.nii.gz
/dataset/labelsTr/hippocampus_328.nii.gz
/dataset/imagesTr/hippocampus_329.nii.gz
/dataset/labelsTr/hippocampus_329.nii.gz
/dataset/imagesTr/hippocampus_330.nii.gz
/dataset/labelsTr/hippocampus_330.nii.gz
/dataset/imagesTr/hippocampus_331.nii.gz
/dataset/labelsTr/hippocampus_331.nii.gz
/dataset/imagesTr/hippocampus_332.nii.gz
/dataset/labelsTr/hippocampus_332.nii.gz
/dataset/imagesTr/hippocampus_333.nii.gz
/dataset/labelsTr/hippocampus_333.nii.gz
/dataset/imagesTr/hippocampus_334.nii.gz
/dataset/labelsTr/hippocampus_334.nii.gz
/dataset/imagesTr/hippocampus_335.nii.gz
/dataset/labelsTr/hippocampus_335.nii.gz
/dataset/imagesTr/hippocampus_336.nii.gz
/dataset/labelsTr/hippocampus_336.nii.gz
/dataset/imagesTr/hippocampus_337.nii.gz
/dataset/labelsTr/hippocampus_337.nii.gz
/dataset/imagesTr/hippocampus_338.nii.gz
/dataset/labelsTr/hippocampus_338.nii.gz
/dataset/imagesTs/hippocampus_339.nii.gz
/dataset/imagesTr/hippocampus_340.nii.gz
/dataset/labelsTr/hippocampus_340.nii.gz
/dataset/imagesTr/hippocampus_341.nii.gz
/dataset/labelsTr/hippocampus_341.nii.gz
/dataset/imagesTs/hippocampus_342.nii.gz
/dataset/imagesTr/hippocampus_343.nii.gz
/dataset/labelsTr/hippocampus_343.nii.gz
/dataset/imagesTs/hippocampus_344.nii.gz
/dataset/imagesTr/hippocampus_345.nii.gz
/dataset/labelsTr/hippocampus_345.nii.gz
/dataset/imagesTs/hippocampus_346.nii.gz
/dataset/imagesTs/hippocampus_347.nii.gz
/dataset/imagesTs/hippocampus_348.nii.gz
/dataset/imagesTr/hippocampus_349.nii.gz
/dataset/labelsTr/hippocampus_349.nii.gz
/dataset/imagesTr/hippocampus_350.nii.gz
/dataset/labelsTr/hippocampus_350.nii.gz
/dataset/imagesTr/hippocampus_351.nii.gz
/dataset/labelsTr/hippocampus_351.nii.gz
/dataset/imagesTr/hippocampus_352.nii.gz
/dataset/labelsTr/hippocampus_352.nii.gz
/dataset/imagesTr/hippocampus_353.nii.gz
/dataset/labelsTr/hippocampus_353.nii.gz
/dataset/imagesTr/hippocampus_354.nii.gz
/dataset/labelsTr/hippocampus_354.nii.gz
/dataset/imagesTr/hippocampus_355.nii.gz
/dataset/labelsTr/hippocampus_355.nii.gz
/dataset/imagesTr/hippocampus_356.nii.gz
/dataset/labelsTr/hippocampus_356.nii.gz
/dataset/imagesTs/hippocampus_357.nii.gz
/dataset/imagesTr/hippocampus_358.nii.gz
/dataset/labelsTr/hippocampus_358.nii.gz
/dataset/imagesTr/hippocampus_359.nii.gz
/dataset/labelsTr/hippocampus_359.nii.gz
/dataset/imagesTr/hippocampus_360.nii.gz
/dataset/labelsTr/hippocampus_360.nii.gz
/dataset/imagesTr/hippocampus_361.nii.gz
/dataset/labelsTr/hippocampus_361.nii.gz
/dataset/imagesTs/hippocampus_362.nii.gz
/dataset/imagesTr/hippocampus_363.nii.gz
/dataset/labelsTr/hippocampus_363.nii.gz
/dataset/imagesTs/hippocampus_364.nii.gz
/dataset/imagesTs/hippocampus_365.nii.gz
/dataset/imagesTr/hippocampus_366.nii.gz
/dataset/labelsTr/hippocampus_366.nii.gz
/dataset/imagesTr/hippocampus_367.nii.gz
/dataset/labelsTr/hippocampus_367.nii.gz
/dataset/imagesTr/hippocampus_368.nii.gz
/dataset/labelsTr/hippocampus_368.nii.gz
/dataset/imagesTs/hippocampus_369.nii.gz
/dataset/imagesTr/hippocampus_370.nii.gz
/dataset/labelsTr/hippocampus_370.nii.gz
/dataset/imagesTs/hippocampus_371.nii.gz
/dataset/imagesTr/hippocampus_372.nii.gz
/dataset/labelsTr/hippocampus_372.nii.gz
/dataset/imagesTr/hippocampus_373.nii.gz
/dataset/labelsTr/hippocampus_373.nii.gz
/dataset/imagesTr/hippocampus_374.nii.gz
/dataset/labelsTr/hippocampus_374.nii.gz
/dataset/imagesTr/hippocampus_375.nii.gz
/dataset/labelsTr/hippocampus_375.nii.gz
/dataset/imagesTr/hippocampus_376.nii.gz
/dataset/labelsTr/hippocampus_376.nii.gz
/dataset/imagesTs/hippocampus_377.nii.gz
/dataset/imagesTr/hippocampus_378.nii.gz
/dataset/labelsTr/hippocampus_378.nii.gz
/dataset/imagesTs/hippocampus_379.nii.gz
/dataset/imagesTr/hippocampus_380.nii.gz
/dataset/labelsTr/hippocampus_380.nii.gz
/dataset/imagesTr/hippocampus_381.nii.gz
/dataset/labelsTr/hippocampus_381.nii.gz
/dataset/imagesTs/hippocampus_382.nii.gz
/dataset/imagesTr/hippocampus_383.nii.gz
/dataset/labelsTr/hippocampus_383.nii.gz
/dataset/imagesTs/hippocampus_384.nii.gz
/dataset/imagesTr/hippocampus_385.nii.gz
/dataset/labelsTr/hippocampus_385.nii.gz
/dataset/imagesTr/hippocampus_386.nii.gz
/dataset/labelsTr/hippocampus_386.nii.gz
/dataset/imagesTr/hippocampus_387.nii.gz
/dataset/labelsTr/hippocampus_387.nii.gz
/dataset/imagesTs/hippocampus_388.nii.gz
/dataset/imagesTr/hippocampus_389.nii.gz
/dataset/labelsTr/hippocampus_389.nii.gz
/dataset/imagesTr/hippocampus_390.nii.gz
/dataset/labelsTr/hippocampus_390.nii.gz
/dataset/imagesTs/hippocampus_391.nii.gz
/dataset/imagesTs/hippocampus_392.nii.gz
/dataset/imagesTr/hippocampus_393.nii.gz
/dataset/labelsTr/hippocampus_393.nii.gz
/dataset/imagesTr/hippocampus_394.nii.gz
/dataset/labelsTr/hippocampus_394.nii.gz
